<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up and Sign In</title>
    <link rel="stylesheet" href="/public/RL.css"> 
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <!-- Sign Up Form -->
        <div class="signup">
            <form action="/register" method="POST">
                <label for="chk" aria-hidden="true">Sign Up</label>
                <input type="text" name="username" placeholder="User Name" required>
                <input type="email" name="username" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign Up</button>
            </form>
        </div>

        <!-- Login Form -->
        <div class="login">
            <form action="/login" method="POST">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="username" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
